{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "class-methods-use-this": "off",
    "semi": ["error", "never"],
    "arrow-parens": ["error", "always"],
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": ["error", {"extensions": [".js", ".jsx"]}]
  }
}
